doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/scripts/bootstrap/dist/css/bootstrap.min.css', type='text/css')
  body
    div.container
      div.row
        div.col-4
          a(href="/", class="btn btn-primary") Basic Form
        div.col-4
          a(href="/form/single", class="btn btn-primary") Single Form
        div.col-4
          a(href="/form/multi", class="btn btn-primary") Multi Form 
      div.row
        div.col-12(class="mt-3")
          h1 Text Only Form
      div.row  
        div.col-12(class="mt-5")
          form(name="form", action="/basicform", method="post", enctype="multipart/form-data")
            div.form-group
              label(for="text1") Text 1
              input(class="form-control", id="text1", name="text1", placeholder="Enter text 1")
            div.form-group
              label(for="text2") Text 2
              input(class="form-control", id="text2", name="text2", placeholder="Enter text 2")
            div.form-group
              label(for="text3") Text 3
              input(class="form-control", id="text3", name="text3", placeholder="Enter text 3")
            button(type="submit", class="btn btn-secondary") Send Form